<div class="container">
  <div class="row">
      <div class="col-2">
          <button class="btn btn-success btn-round m1-auto" data-toggle="modal" data-target="#exampleModalCenter"><i
                class="fa fa-plus"></i>Add Video</button>
          <!-- The Modal -->
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                      <div class="modal-header bg-success">
                          <h5 class="modal-title" id="exampleModalLongTitle">Add Video</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="text" class="form-control" name="title" placeholder="Title" value="" [(ngModel)]="title" />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <select class="form-control" name="category" [(ngModel)]="category">
                                  <option value="" disabled>Select Category</option>
                                  <option *ngFor="let row of allCategories" value="{{row.category}}">{{row.category}}</option>
                                </select>
                               </div>
                            </div>
                            
                            <!--<div class="col-md-12">
                              <div class="form-group">
                                <textarea type="text" name="description" class="form-control" placeholder="Description" [(ngModel)]="description"></textarea>
                              </div>
                          </div>-->
                          <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" class="form-control" name="age" placeholder="Age" value="" [(ngModel)]="age" />
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <select class="form-control" name="type" [(ngModel)]="type">
                              <option value="" disabled>Select Type</option>
                              <option value="free">free</option>
                              <option value="paid">paid</option>
                            </select>
                          </div>
                      </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="text" class="form-control" name="indianPrice" placeholder="Indian Price" value="" [(ngModel)]="indianPrice" />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="text" class="form-control" name="internationalPrice" placeholder="International Price" value="" [(ngModel)]="internationalPrice" />
                              </div>
                            </div>
                            
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="label-title"><b>Thumbnail Image</b></label>
                                  <input type="file" class="form-control" value="" accept="image/*" (change)="onThumbnailFileChanged($event)" />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="label-title"><b>Video</b></label>
                                  <input type="file" class="form-control" value="" accept="video/*" (change)="onVideoFileChanged($event)" />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="subscriptionDays" placeholder="Subscription Days" value="" [(ngModel)]="subscriptionDays" />
                                </div>
                            </div>
                            </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-warning" data-dismiss="modal">CLOSE</button>
                          <button type="button" class="btn btn-success" (click)="addVideo()">SAVE</button>
                          <div *ngIf="loading" class="loader"></div>
                          <button #btnClose class="btn-hidden" type="button" data-dismiss="modal"></button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-success">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" name="title" placeholder="Title" value="" [(ngModel)]="editTitle" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <select class="form-control" name="category" [(ngModel)]="editCategory">
                                <option value="" disabled>Select Category</option>
                                <option *ngFor="let row of allCategories" value="{{row.category}}">{{row.category}}</option>
                              </select>
                             </div>
                          </div>
                          
                          <!--<div class="col-md-12">
                            <div class="form-group">
                              <textarea type="text" name="description" class="form-control" placeholder="Description" [(ngModel)]="description"></textarea>
                            </div>
                        </div>-->
                        <div class="col-md-6">
                          <div class="form-group">
                              <input type="number" class="form-control" name="age" placeholder="Age" value="" [(ngModel)]="editAge" />
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control" name="type" [(ngModel)]="editType">
                            <option value="" disabled>Select Type</option>
                            <option value="free">free</option>
                            <option value="paid">paid</option>
                          </select>
                        </div>
                    </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" name="indianPrice" placeholder="Indian Price" value="" [(ngModel)]="editIndianPrice" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" name="internationalPrice" placeholder="International Price" value="" [(ngModel)]="editInternationalPrice" />
                            </div>
                          </div>
                          
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="label-title"><b>Thumbnail Image</b></label>
                                <input type="file" class="form-control" value="" accept="image/*" (change)="onThumbnailEditFileChanged($event)" />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="label-title"><b>Video</b></label>
                                <input type="file" class="form-control" value="" accept="video/*" (change)="onVideoEditFileChanged($event)" />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <input type="number" class="form-control" name="subscriptionDays" placeholder="Subscription Days" value="" [(ngModel)]="editSubscriptionDays" />
                              </div>
                          </div>
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">CLOSE</button>
                        <button type="button" class="btn btn-success" (click)="updateVideo()">SAVE</button>
                        <div *ngIf="loading" class="loader"></div>
                        <button #btnEditClose class="btn-hidden" type="button" data-dismiss="modal"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" [ngStyle]="{'display':display}">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header bg-danger">
                      <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle">Delete Video</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <h6>Are you sure you want to delete this video?</h6>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-warning" data-dismiss="modal">CANCEL</button>
                      <button (click)="confirmDeleteVideo()" type="button" class="btn btn-danger">DELETE</button>
                      <button #btnCloseDelete class="btn-hidden" type="button" data-dismiss="modal"></button>
                  </div>
              </div>
          </div>
      </div>
      <button #btnDelete class="btn-hidden" type="button" data-toggle="modal" data-target="#exampleModalCenter3"></button>
      </div>
      <div class="col-8">

      </div>
      <div class="col-2">
        <button class="btn btn-success btn-round m1-auto" (click)="openCategory()">
          Categories
        </button>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <table class="table table-borderless">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>THUMBNAIL</th>
                      <th>TITLE</th>
                      <!--<th>DESCRIPTION</th>-->
                      <th>CATEGORY</th>
                      <th>AGE</th>
                      <th>SUBSCRIPTION DAYS</th>
                      <th>Price(₹)</th>
                      <th>Price($)</th>
                      <th>TYPE</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody class="nodata"> </tbody>
              <tbody class="bg-white1">
                  <tr *ngFor="let row of allVideos">
                      <td>{{row.id}}</td>
                      <td>
                        <img *ngIf="row.thumbnail_url.split('/')[1] != 'undefined'" src="{{row.thumbnail}}" height="40px" width="40px" alt="Thumbnail">
                        <img *ngIf="row.thumbnail_url.split('/')[1] == 'undefined'" src="assets/thumbnail.png" height="40px" width="40px" alt="Thumbnail">
                      </td>
                      <td>{{row.filename}}</td>
                      <!--<td></td>-->
                      <td>{{row.category}}</td>
                      <td>{{row.age}}</td>
                      <td>{{row.subscription_days}}</td>
                      <td>{{row.price}}</td>
                      <td>{{row.price_other}}</td>
                      <td>{{row.type}}</td>
                      <td> 
                        <button class="btn btn-info" title="Edit" data-toggle="modal" data-target="#exampleModalCenter2" (click)="edit_video(row.id)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger" title="Delete" (click)="deleteVideo(row.id)"><i class="fa fa-trash"></i></button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>