.hamburger {
    width: 18px;
    cursor: pointer;
}

.appLogo {
    width: 20px;
    margin-left: 10px;
}

span {
    font-weight: 500;
   
}

.appName {
    color: #025076;
    margin-left: 10px;
}

.farm {
    color: #e26939;
    margin-left: 2px;
}